*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

main{
    margin-top: 3rem;
}

h2, h3{
    border-bottom: 1px  rgb(227, 0, 0); /* SUBRAYADO ROJO TITULOS ARREGLAR */
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

#logo{
    width: 50px;
    height: auto;
}

a{
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: flex-end;
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    padding: 8px;
}

footer{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
}

h2, h3{
    margin: 10px;
}

p{
    margin: 10px 10px 20px 10px;
}

#inicio{ /*Main Section del Index*/
    position: relative;
}

#texto{ /*Parrafo estudio ardit index*/
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: black;
    color: white;
    opacity: 0.8;
}

#texto h2, p{ /*Parrafo estudio ardit index*/
    opacity: 1;
}

#galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#galeria img{
    width: 500px;
    height: 250px;
    
}

#divFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1.3fr 1.4fr 0.7fr 0.6fr;
    grid-template-rows: 1fr; 
    gap: 0px 10px; 
     grid-template-areas: 
        "contactoFooter mapaInfo mapaSitio flecha"; 
}

#contactoFooter{ /*contacto footer*/
    display: flex;
    grid-area: contactoFooter;
}

#mapaInfo{
    grid-area: mapaInfo;
}

#mapaSitio{ /*mapa del sitio footer*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 75%;
    grid-area: mapaSitio;
}

#contactoH3{ /*h2 contacto footer*/
    height: 100%;
    width: 25%;
}

#mapa{ /*fake mapa footer*/
    height: 100%;
    width: 37,5%;
    margin: 10px;
}

/*
#infoContacto{ /*datos de contacto footer*
    height: 100%;
    width: 37,5%;
    margin: 10px;
}
*/

#boton{ /*flecha arriba footer*/
    /*height: 100%;
    width: 25%;*/
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(70, 70, 70);
    font-size: xx-large;
    text-align: center;
    grid-area: flecha;
}

form{
    display: flex;
    justify-content: space-between;
    /*flex-direction: row;*/
}

a:hover{
    color: rgb(227, 0, 0);
}

#textarea{
    margin: 10px;
}

/*////////////////////////////////////////////////GRIDS NO TOCAR/////////////////////////////////*/
#formulario{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.6fr 1.4fr; 
    grid-template-rows: 1fr; 
    gap: 0px 10px; 
    grid-template-areas: 
      "col1 col2";
}

#col1{
    height: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    grid-area: col1;
    width: 80%;
}

#col2{
    height: 100%;
    margin: 10px;
    grid-area: col2;
    display: flex;
    flex-direction: column;
    width: 70%;
}

