body {
  height: 100%; }
  body header {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 50;
    height: 7.5%; }
    body header #logo {
      width: 50px;
      height: auto; }
  body main {
    height: 100%;
    min-width: 100%;
    margin-top: 3rem; }
    body main .carousel {
      min-width: 100vh;
      min-height: 100vh;
      max-height: 100vh; }
      body main .carousel .carousel > .carousel-inner > .carousel-item > img {
        min-width: 100vh;
        min-height: 100vh;
        max-height: 100vh !important;
        height: 100vh;
        width: 100vh; }

form {
  display: flex;
  justify-content: space-between; }

#formulario {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas: "col1 col2"; }
  #formulario form {
    display: flex;
    justify-content: space-between; }
  #formulario #col1 {
    height: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    grid-area: col1;
    width: 80%; }
    #formulario #col1 #mail {
      margin: 0.3rem 0 1rem 0; }
    #formulario #col1 #telefono {
      margin: 0.3rem 0 1rem 0; }
    #formulario #col1 #nombre {
      margin: 0.3rem 0 1rem 0; }
  #formulario #col2 {
    height: 100%;
    margin: 10px;
    grid-area: col2;
    display: flex;
    flex-direction: column;
    width: 70%; }
    #formulario #col2 #textarea {
      margin: 0.3rem 0 1rem 0; }
    #formulario #col2 #enviar {
      margin: 0.3rem 0 1rem 0;
      width: fit-content;
      padding: 0.3rem; }

footer {
  background-color: black;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 50;
  height: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: self-start; }
  footer #divFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    height: 100%; }
    footer #divFooter #contactoFooter {
      /*contacto footer*/
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 60%;
      padding: 5px; }
      footer #divFooter #contactoFooter #contactoH3 {
        /*h3 contacto footer*/
        width: fit-content;
        margin: 0 5px;
        padding: 0;
        flex: 0 1 auto; }
      footer #divFooter #contactoFooter #mapa {
        /*fake mapa footer*/
        height: 100%;
        flex: 0 1 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center; }
        footer #divFooter #contactoFooter #mapa #mapa img {
          /*fake mapa footer*/
          height: 100%;
          margin: 0 10px; }
        footer #divFooter #contactoFooter #mapa #mapaInfo {
          grid-area: mapaInfo; }
        footer #divFooter #contactoFooter #mapa #infoContacto {
          height: 100%;
          flex: 0 1 auto;
          align-items: center; }
          footer #divFooter #contactoFooter #mapa #infoContacto #infoContacto ul {
            display: flex;
            flex-direction: column; }
            footer #divFooter #contactoFooter #mapa #infoContacto #infoContacto ul #infoContacto ul li {
              margin-bottom: 10px; }
          footer #divFooter #contactoFooter #mapa #infoContacto .iconos {
            color: white;
            transition: 0.2;
            margin: 0 0.5rem; }
            footer #divFooter #contactoFooter #mapa #infoContacto .iconos #facebook:hover {
              color: #006cca; }
            footer #divFooter #contactoFooter #mapa #infoContacto .iconos #instagram:hover {
              color: #ae38ee; }
            footer #divFooter #contactoFooter #mapa #infoContacto .iconos #youtube:hover {
              color: #d90000; }
            footer #divFooter #contactoFooter #mapa #infoContacto .iconos #whatsapp:hover {
              color: #00bd19; }
      footer #divFooter #contactoFooter #mapaSitio {
        /*mapa del sitio footer*/
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 40%;
        grid-area: mapaSitio;
        text-align: right;
        padding-right: 5%; }
        footer #divFooter #contactoFooter #mapaSitio #mapaSitio ul {
          /*mapa del sitio footer*/
          align-self: flex-end; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

h2,
h3 {
  text-decoration: underline #e10000 2px;
  margin: 10px; }

a {
  text-decoration: none;
  color: white; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: flex-end; }
  ul li {
    float: left; }
    ul li a {
      display: block;
      padding: 8px; }

p {
  margin: 10px 10px 20px 10px; }

#texto {
  /*Parrafo estudio ardit index*/
  position: absolute;
  left: 16px;
  bottom: 25%;
  width: 50%;
  padding: 10px;
  background-color: black;
  color: white;
  opacity: 0.8;
  border-radius: 10px;
  min-width: 400px;
  max-height: 200px;
  overflow: hidden; }
  #texto #texto p {
    /*Parrafo estudio ardit index*/
    opacity: 1;
    overflow-y: scroll;
    box-sizing: content-box; }

#galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  #galeria #galeria img {
    width: 30rem;
    height: 15rem; }

a:hover:not(.titulo) {
  text-decoration: underline #e10000 2px; }

/*como escribir hover:not en scss??*/
@media (max-width: 768px) {
  body {
    flex-direction: column;
    flex-wrap: wrap;
    display: block;
    width: 100%; }
  #col1, #col2 {
    flex: 100%; }
  footer {
    flex-direction: column;
    display: block;
    width: 100%; } }
