body {
  height: 100%; }
  body header {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 50;
    height: 7.5%; }
    body header #logo {
      width: 50px;
      height: auto; }
  body main {
    height: 100%;
    min-width: 100%;
    margin-top: 3rem; }

form {
  display: flex;
  justify-content: space-between; }

#formulario {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas: "col1 col2"; }
  #formulario form {
    display: flex;
    justify-content: space-between; }
  #formulario #col1 {
    height: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    grid-area: col1;
    width: 80%; }
    #formulario #col1 #mail {
      margin: 0.3rem 0 1rem 0; }
    #formulario #col1 #telefono {
      margin: 0.3rem 0 1rem 0; }
    #formulario #col1 #nombre {
      margin: 0.3rem 0 1rem 0; }
  #formulario #col2 {
    height: 100%;
    margin: 10px;
    grid-area: col2;
    display: flex;
    flex-direction: column;
    width: 70%; }
    #formulario #col2 #textarea {
      margin: 0.3rem 0 1rem 0;
      height: fit-content; }
    #formulario #col2 #enviar {
      margin: 0.3rem 0 1rem 0;
      width: fit-content;
      padding: 0.3rem; }

#page-container {
  position: relative;
  min-height: 100vh; }
  #page-container #content-wrap {
    padding-bottom: 20rem;
    /* Footer height 9rem*/ }
  #page-container footer {
    position: absolute;
    bottom: 0;
    width: 100%; }

footer {
  background-color: black;
  color: white;
  padding: 10px;
  /*position: fixed;*/
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 50;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: self-start; }
  footer #divFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    height: 100%; }
    footer #divFooter #contactoFooter {
      /*contacto footer*/
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 60%;
      padding: 5px; }
      footer #divFooter #contactoFooter #contactoH3 {
        /*h3 contacto footer*/
        width: fit-content;
        margin: 0 5px;
        padding: 0;
        flex: 0 1 auto; }
      footer #divFooter #contactoFooter #mapa {
        /*fake mapa footer*/
        height: 100%;
        flex: 0 1 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center; }
        footer #divFooter #contactoFooter #mapa img {
          /*fake mapa footer*/
          height: 7rem;
          margin: 0 10px; }
        footer #divFooter #contactoFooter #mapa #mapaInfo {
          grid-area: mapaInfo; }
        footer #divFooter #contactoFooter #mapa #infoContacto {
          display: flex;
          flex-direction: column;
          height: 100%;
          margin-left: 10px;
          align-items: center; }
          footer #divFooter #contactoFooter #mapa #infoContacto ul {
            display: flex;
            flex-direction: column; }
            footer #divFooter #contactoFooter #mapa #infoContacto ul li {
              margin-bottom: 10px; }
          footer #divFooter #contactoFooter #mapa #infoContacto .iconos {
            color: white;
            transition: 0.2;
            margin: 0 0.5rem; }
      footer #divFooter #contactoFooter #mapaSitio {
        /*mapa del sitio footer*/
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 40%;
        grid-area: mapaSitio;
        text-align: right;
        padding-right: 5%; }
        footer #divFooter #contactoFooter #mapaSitio ul {
          /*mapa del sitio footer*/
          align-self: flex-end; }

#galeria {
  /*galeria imagenes proyectos y servicios*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 1rem 1rem;
  grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9" "img10 img11 img12" "img13 img14 img15" "img16 img17 img18" "img19 img20 img21"; }
  #galeria .galeria__img {
    width: 30rem;
    height: 15rem; }
  #galeria .galeria__item {
    width: 30rem;
    height: 15rem; }
  #galeria #img1 {
    grid-area: img1; }
  #galeria #img2 {
    grid-area: img2; }
  #galeria #img3 {
    grid-area: img3; }
  #galeria #img4 {
    grid-area: img4; }
  #galeria #img5 {
    grid-area: img5; }
  #galeria #img6 {
    grid-area: img6; }
  #galeria #img7 {
    grid-area: img7; }
  #galeria #img8 {
    grid-area: img8; }
  #galeria #img9 {
    grid-area: img9; }
  #galeria #img10 {
    grid-area: img10; }
  #galeria #img11 {
    grid-area: img11; }
  #galeria #img12 {
    grid-area: img12; }
  #galeria #img13 {
    grid-area: img13; }
  #galeria #img14 {
    grid-area: img14; }
  #galeria #img15 {
    grid-area: img15; }
  #galeria #img16 {
    grid-area: img16; }
  #galeria #img17 {
    grid-area: img17; }
  #galeria #img18 {
    grid-area: img18; }
  #galeria #img19 {
    grid-area: img19; }
  #galeria #img20 {
    grid-area: img20; }
  #galeria #img21 {
    grid-area: img21; }

html header {
  max-width: 100%;
  overflow-x: hidden; }

#main404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#dibujo {
  margin: 2rem;
  height: 40vh; }

#error {
  color: #c40000;
  font-weight: bold; }

.ups {
  margin: 1rem 1rem 0 1rem;
  font-size: 1.4rem;
  font-weight: bold; }

#volver {
  margin: 1rem; }

#videoIndex {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; }

.textoArdit {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  padding: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

h1, h2, h3 {
  text-decoration: underline #c40000 2px;
  margin: 10px; }

a {
  text-decoration: none;
  color: white; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: flex-end; }
  ul li {
    float: left; }
    ul li a {
      display: block;
      padding: 8px; }

p {
  margin: 10px 10px 20px 10px;
  line-height: 1.6rem; }

a:hover:not(.titulo) {
  text-decoration: underline #c40000 2px; }

.retrato {
  height: 40vh;
  margin: 1rem; }

#estudio {
  width: 98%; }

@media (max-width: 768px) {
  /*este media querie aplica siempre que el viewport sea MENOR a 768px*/
  #inicio {
    height: 100vh; }
  footer {
    flex-direction: column;
    display: block;
    width: 100%;
    position: static; }
  footer #divFooter #contactoFooter #mapa img {
    display: none; }
  footer #divFooter {
    flex-direction: column; }
  footer #divFooter #contactoFooter {
    flex-direction: column; }
  #galeria {
    /*galeria imagenes proyectos y servicios*/
    width: 65%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas: "img1" "img2" "img3" "img4"  "img5"  "img6" "img7"  "img8"  "img9" "img10"  "img11"  "img12" "img13"  "img14"  "img15" "img16"  "img17"  "img18" "img19"  "img20"  "img21"; }
  #formulario {
    display: grid;
    width: 100%;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    grid-template-areas: "col1"  "col2"; }
  #formulario #col1 {
    height: 50%;
    margin: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    grid-area: col1;
    width: 70%; }
  #formulario #col2 {
    height: 50%;
    margin: 0 1rem 1rem 1rem;
    grid-area: col2;
    display: flex;
    flex-direction: column;
    width: 70%; }
  textarea {
    width: 100%;
    overflow: auto;
    height: auto; }
  #textarea {
    height: auto; } }
