body {
    height: 100%;

    header {
        background-color: $negro;
        color: $blanco;
        position: sticky;
        top: 0;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        z-index: 50;
        height: 7.5%;
    
        #logo {
            width: 50px;
            height: auto;
        }
    }
    
    main {
        height: 100%;
        min-width: 100%;
        margin-top: 3rem;
    }
}
