$rojo: rgb(196, 0, 0);
$blanco: rgb(255, 255, 255);
$negro: rgb(0,0,0);
$colorFb: rgb(0, 108, 202);
$colorIg:  rgb(174, 56, 238);
$colorYt: rgb(217, 0, 0);
$colorWa: rgb(0, 189, 25);
$negroTransparente: rgba(0, 0, 0, 0.5);
