@import "var";
@import "body";
@import "contacto";
@import "footer";
@import "galeria";
@import "404";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h2,
h3 {
    text-decoration: underline $rojo 2px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: $blanco;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: flex-end;

    li {
        float: left;

        a {
            display: block;
            padding: 8px;
        }
    }
}

p {
    margin: 10px 10px 20px 10px;
}

#texto {
    /*Parrafo estudio ardit index*/
    position: absolute;
    left: 16px;
    bottom: 25%;
    width: 50%;
    padding: 10px;
    background-color: $negro;
    color: $blanco;
    opacity: 0.8;
    border-radius: 10px;
    min-width: 400px;
    max-height: 200px;
    overflow: hidden;

    p {
        /*Parrafo estudio ardit index*/
        opacity: 1;
        overflow-y: scroll;
        box-sizing: content-box; 
    }
}

a:hover:not(.titulo){
    text-decoration: underline $rojo 2px;
} 

@media (max-width: 768px){
    // body{
    //  flex-direction: column;
    //  flex-wrap: wrap;
    //  display: block;
    //  width: 100%;
    // }
 
    // #col1, #col2{
    //  flex: 100%;
    // }
 
    footer{
        flex-direction: column;
        display: block;
        width: 100%;
        position: static;
       }
   
       footer #divFooter #contactoFooter #mapa img {
       
       display: none;
       }
   
       footer #divFooter {
         flex-direction: column;
       }
   
       footer #divFooter #contactoFooter {
         flex-direction: column;
       }
   
       #galeria {
         /*galeria imagenes proyectos y servicios*/
         /*  display: flex;
           flex-wrap: wrap;
           justify-content: space-around;*/
         
         width: 100%;
         display: grid;
      
         grid-template-columns: auto;
         justify-content: center;
         grid-template-rows: auto;
         gap: 1rem;
         grid-template-areas: 
         "img1"
         "img2"
         "img3"
         "img4" 
         "img5" 
         "img6"
         "img7" 
         "img8" 
         "img9"
         "img10" 
         "img11" 
         "img12"
         "img13" 
         "img14" 
         "img15"
         "img16" 
         "img17" 
         "img18"
         "img19" 
         "img20" 
         "img21"; 
       }
   
   
       #formulario {
         display: grid;
         width: 100%;
         grid-auto-columns: 1fr;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
         gap: 10px;
         grid-template-areas: "col1" 
         "col2";
     }
   
     #formulario #col1 {
       height: 100%;
       margin: 1rem;
       display: flex;
       flex-direction: column;
       grid-area: col1;
       width: 70%;
     }
   
     #formulario #col2 {
       height: 100%;
       margin: 10px;
       grid-area: col2;
       display: flex;
       flex-direction: column;
       width: 70%;
   }
   textarea {
     width: 100%;
     overflow: auto;
   }
   
 } 