@import "var";
@import "body";
@import "contacto";
@import "footer";
@import "galeria";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h2,
h3 {
    text-decoration: underline $rojo 2px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: $blanco;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: flex-end;

    li {
        float: left;

        a {
            display: block;
            padding: 8px;
        }
    }
}

p {
    margin: 10px 10px 20px 10px;
}

#texto {
    /*Parrafo estudio ardit index*/
    position: absolute;
    left: 16px;
    bottom: 25%;
    width: 50%;
    padding: 10px;
    background-color: $negro;
    color: $blanco;
    opacity: 0.8;
    border-radius: 10px;
    min-width: 400px;
    max-height: 200px;
    overflow: hidden;

    p {
        /*Parrafo estudio ardit index*/
        opacity: 1;
        overflow-y: scroll;
        box-sizing: content-box; 
    }
}

a:hover:not(.titulo){
    text-decoration: underline $rojo 2px;
} /*como escribir hover:not en scss??*/

/* @media (max-width: 768px){
    body{
     flex-direction: column;
     flex-wrap: wrap;
     display: block;
     width: 100%;
    }
 
    #col1, #col2{
     flex: 100%;
    }
 
    footer{
     flex-direction: column;
     display: block;
     width: 100%;
    }
 } */